@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Figure styling */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figure.full-page{
	break-after: page;
	break-before: page;
}
/* End figures */

/* letters */
[epub|type~="z3998:letter"] header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: initial;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:salutation"],
[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

.telegram,
.telegram [epub|type~="z3998:sender"],
.telegram header{
	font-variant: all-small-caps;
}
/* End letters */

#dedication header{
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	margin: 3em 0;
	text-align: center;
}

#dedication footer,
#preface footer{
	margin-top: 1em;
	text-align: right;
}

#meridian ol[start="5"]{
	list-style-type: upper-roman;
}
