@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#dedication header{
  font-size: 1.5em;
  font-variant: small-caps;
  font-weight: bold;
  margin: 3em 0;
  text-align: center;
}

#dedication footer {
  margin-top: 1em;
  text-align: right;
}